@import "colors.css";
@import "fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  background: var(--white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 1440px;
  padding: 0 190px;
}

.main {
  flex: 1 0 auto;
}
