@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('opentype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../assets/fonts/Montserrat/Montserrat-Medium.woff2') format('opentype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('opentype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
