@import "colors.scss";

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-Regular.woff2') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-Medium.woff2') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-SemiBold.woff2') format('opentype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 1440px;
  padding: 0 190px;
}

.main {
  flex: 1 0 auto;
}
