@import '@/assets/colors.scss';

.coreLinkStyle {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.defaultLinkStyle {
  @extend .coreLinkStyle;

  color: $black;
  font-weight: 500;
  transition: color 0.2s ease;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.filledLinkStyle {
  @extend .coreLinkStyle;

  color: $white;
  text-decoration: none;
  transition: background-color 0.2s ease;
  background-color: $primary;
  padding: 12px 20px;
  border-radius: 6px;

  &:hover {
    background-color: $primary__dark;
  }
}
